{{yield}}

{{#if addNewPost}}
  <h1>New Post</h1>

  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <br>
      {{textarea value=title id="title" rows="1" cols="50"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <br>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <br>
      {{textarea value=description id="description" rows="8" cols="40"}}
    </div>

    <div class="form-group">
      <label for="image">Image Url</label>
      <br>
      {{input value=image id="image"}}
    </div>

    <button class='btn btn-default' {{action 'save1'}}>Save</button>
  </form>
{{else}}
<br>
  <button class='btn btn-default' {{action 'newPostShow'}}>Make a new post</button>
<br>
{{/if}}
